<%= simple_form_for(@klass) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :tags %>
    <%= f.input :price %>
    <%= f.input :duration %>
    <%= f.input :media %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
